<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
<br>
    <table class="table">
    <thead>
    <tr>
      <th>Car</th>
      <th>Client</th>
    </tr>
    </thead>
    {% for car in car_list %}
    <tbody>
    <tr>
      <td>{{ car.title }}</td>
      <td>{% for name in car.name.all %}
            {{ name.name }}
      {% endfor %}</td>
    {% endfor %}
    </tr>
    </tbody>
    </table>

    <br>
</body>
</html>